body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  color: white;
}
.wrapper .main-screen {
  position: relative;
  background-color: #101010;
  background-image: url("../src/img/main-screen-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}
.wrapper .main-screen .main-screen__header {
  position: absolute;
  padding: 0;
  top: 50px;
  left: 50px;
  right: 50px;
  width: auto;
}
.wrapper .main-screen .main-screen__header .main-screen__header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper .main-screen .main-screen__header .main-screen__header__container .main-screen__header__container__top-logo svg {
  width: 56px;
  height: auto;
}
.wrapper .main-screen .main-screen__header .main-screen__header__container .main-screen__header__container__top-email a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.wrapper .main-screen .main-screen__header .main-screen__header__container .main-screen__header__container__top-email a i {
  font-size: 22px;
  margin: 0px 10px 0px 0px;
}
.wrapper .main-screen .main-screen__header .main-screen__header__container .main-screen__header__container__top-email a:hover {
  color: #ea496a;
}
.wrapper .main-screen svg * {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.wrapper .main-screen .main-screen__contacts {
  position: absolute;
  padding: 0;
  bottom: 50px;
  left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 20%;
  gap: 20px;
}
.wrapper .main-screen .main-screen__contacts .main-screen__contacts__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 200px;
  flex: 0 0 200px;
}
.wrapper .main-screen .main-screen__contacts .main-screen__contacts__links .main-screen__contacts__links__item {
  text-decoration: none;
  width: 56px;
  height: 56px;
}
.wrapper .main-screen .main-screen__contacts .main-screen__contacts__links .main-screen__contacts__links__item svg {
  width: 56px;
  height: auto;
}
.wrapper .main-screen .main-screen__contacts .main-screen__contacts__links .main-screen__contacts__links__item:hover > svg * {
  fill: white;
}
.wrapper .main-screen .main-screen__contacts .main-screen__contacts__text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  width: auto;
  flex: 1 1 auto;
}
.wrapper .main-screen .main-screen__contacts .main-screen__contacts__text .main-screen__contacts__text__item {
  writing-mode: vertical-rl;
  transform: scale(-1);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 700;
  font-size: 16px;
}
.wrapper .main-screen .main-screen__contacts .main-screen__contacts__text .main-screen__contacts__text__item span {
  color: #ea496a;
}
.wrapper .main-screen .main-screen__container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}
.wrapper .main-screen .main-screen__container .main-screen__container__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  align-self: center;
}
.wrapper .main-screen .main-screen__container .main-screen__container__description .main-screen__container__description__headline {
  font-size: 72px;
}
.wrapper .main-screen .main-screen__container .main-screen__container__description .main-screen__container__description__headline span {
  font-size: 140px;
  font-weight: 700;
  display: block;
}
.wrapper .main-screen .main-screen__container .main-screen__container__description .main-screen__container__description__headline span #portfolio {
  color: #ea496a;
}
.wrapper .main-screen .main-screen__container .main-screen__container__description .main-screen__container__description__paragraph {
  font-size: 16px;
  line-height: 28px;
  align-self: flex-end;
  max-width: 400px;
  margin: 20px 0px 0px 0px;
}
.wrapper .main-screen .main-screen__container .main-screen__container__description .main-screen__container__description__paragraph .main-screen__container__description__cta-button {
  cursor: pointer;
  background: none;
  border: 2px solid #ea496a;
  border-radius: 30px;
  outline: none;
  margin: 50px 0px 0px 0px;
  padding: 0px 40px;
  display: block;
  height: 60px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.wrapper .main-screen .main-screen__container .main-screen__container__description .main-screen__container__description__paragraph .main-screen__container__description__cta-button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrapper .main-screen .main-screen__container .main-screen__container__description .main-screen__container__description__paragraph .main-screen__container__description__cta-button a svg {
  width: 60px;
  height: auto;
  margin: 0px 0px 0px 20px;
}
.wrapper .main-screen .main-screen__container .main-screen__container__description .main-screen__container__description__paragraph .main-screen__container__description__cta-button:hover {
  background: #ea496a;
}
.wrapper .main-screen:before {
  content: " ";
  display: block;
  float: left;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 25%;
  background-color: white;
}
.wrapper .main-screen:after {
  content: " ";
  display: block;
  float: left;
  width: 25%;
  height: 1px;
  position: absolute;
  top: 34%;
  right: 0;
  background-color: white;
}
.wrapper .projects-screen {
  padding: 100px;
}

/*# sourceMappingURL=style.css.map */
