body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
}

$basic-color: #03060d;
$blend-color: #111b31;
$color-accent: #ea496a;
$headline-color: #e4d5b7;
$headline-fs: 100px;
$headline-lh: 100px;
$small-headline-fs: 56px;
$small-headline-lh: 74px;
$large-paragraph-fs: 26px;
$large-paragraph-lh: 32px;
$paragraph-fs: 16px;
$paragraph-lh: 28px;

.cta-button {
  cursor: pointer;
  background: none;
  border: 2px solid $color-accent;
  border-radius: 32px;
  outline: none;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Spartan", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 0px 40px;
    svg {
      width: 60px;
      height: auto;
      margin: 0px 0px 0px 20px;
    }
  }
}
.cta-button:hover {
  background: $color-accent;
  box-shadow: 10px 10px rgba($color: rgb(32, 241, 196), $alpha: 0.1),
    -10px -10px rgba($color: $color-accent, $alpha: 0.2);
}

.wrapper {
  width: 100%;
  color: white;

  .main-screen {
    position: relative;
    background-image: url("../src/img/main-screen-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
    .main-screen__header {
      position: absolute;
      padding: 0;
      top: 50px;
      left: 50px;
      right: 50px;
      width: auto;
      .main-screen__header__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .main-screen__header__container__top-logo {
          svg {
            width: 56px;
            height: auto;
          }
        }
        .main-screen__header__container__links {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .main-screen__header__container__links__top-email {
            a {
              text-decoration: none;
              color: white;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;
              -ms-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
              font-size: $paragraph-fs;
              i {
                font-size: 22px;
                margin: 0px 10px 0px 0px;
              }

              &:hover {
                color: $color-accent;
                text-shadow: -20px 0 rgba($color: $color-accent, $alpha: 0.1);
              }
            }
          }
          .main-screen__header__container__links__top-phone {
            a {
              text-decoration: none;
              color: white;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;
              -ms-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
              font-size: 20px;
              line-height: 1;
              i {
                font-size: 22px;
                margin: 0px 10px 0px 0px;
              }

              &:hover {
                color: $color-accent;
                text-shadow: -20px 0 rgba($color: $color-accent, $alpha: 0.1);
              }
            }
          }
        }
      }
    }

    svg * {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    .main-screen__contacts {
      position: absolute;
      padding: 0;
      bottom: 50px;
      left: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: nowrap;
      width: 20%;
      gap: 20px;

      .main-screen__contacts__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        max-width: 200px;
        flex: 0 0 200px;

        .main-screen__contacts__links__item {
          text-decoration: none;
          width: 56px;
          height: 56px;
          svg {
            width: 56px;
            height: auto;
          }
        }
        .main-screen__contacts__links__item:hover > svg * {
          fill: white;
        }
      }

      .main-screen__contacts__text {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
        width: auto;
        flex: 1 1 auto;
        .main-screen__contacts__text__item {
          writing-mode: vertical-rl;
          transform: scale(-1);
          text-transform: uppercase;
          letter-spacing: 8px;
          font-weight: 700;
          font-size: $paragraph-fs;

          span {
            color: $color-accent;
          }
        }
      }
    }

    .main-screen__container {
      max-width: 1280px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 40px;
      .main-screen__container__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        align-self: center;
        .main-screen__container__description__headline {
          font-size: 72px;

          .main-screen__container__description__headline__text {
            position: relative;

            h1 {
              font-size: 140px;
              font-weight: 700;
              display: block;
              color: $headline-color;
              margin: 0;
            }

            #portfolio {
              color: $color-accent;
            }
          }
          .glitch-window {
            position: absolute;
            top: 0;
            left: -2px;
            width: 100%;
            height: 100%;
            color: white;

            text-shadow: 4px 0 rgba($color: rgb(32, 241, 196), $alpha: 1),
              -10px 0 rgba($color: $color-accent, $alpha: 0.2),
              -60px 0 rgba($color: $color-accent, $alpha: 0.1);
            overflow: hidden;
            animation: crt-me 1000ms infinite linear alternate-reverse;
          }

          // #front-end {
          //   font-size: 140px;
          //   font-weight: 700;
          //   display: block;
          //   color: $headline-color;

          //   background: url("../src/img/headline-bg.png") repeat-y;
          //   -webkit-background-clip: text;
          //   background-clip: text;

          //   -webkit-text-fill-color: transparent;
          //   -webkit-animation: aitf 2s linear infinite;

          //   -webkit-transform: translate3d(0, 0, 0);
          //   -webkit-backface-visibility: hidden;
          // }
          // #portfolio {
          //   font-size: 140px;
          //   font-weight: 700;
          //   display: block;
          //   color: $color-accent;
          // }
        }
        .main-screen__container__description__paragraph {
          font-size: $paragraph-fs;
          line-height: $paragraph-lh;
          align-self: flex-end;
          max-width: 400px;
          margin: 20px 0px 0px 0px;

          span {
            color: $headline-color;
          }

          .main-screen__container__description__cta-button {
            margin: 55px 0px 0px 0px;

            a {
              svg {
              }
            }
          }
        }
      }
    }
  }
  .main-screen:before {
    content: " ";
    display: block;
    float: left;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
    background-color: rgba(255, 255, 255, 1);
  }
  .main-screen:after {
    content: " ";
    display: block;
    float: left;
    width: 25%;
    height: 2px;
    position: absolute;
    top: 33%;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .projects-screen {
    padding: 200px 0px;
    background-color: $basic-color;

    .projects-screen__container-buildings {
      padding: 0px 40px;
      max-width: 1280px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 60px;
      background: url("../src/img/buildings-bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      .projects-screen__container-buildings__images {
        position: relative;
        .projects-screen__container-buildings__images__item {
          background-color: white;
          width: 520px;
          height: 360px;
        }

        #buildings-img-1 {
          background: url("../src/img/buildings-img-1.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-color: $blend-color;
          background-blend-mode: luminosity;
        }
        #buildings-img-2 {
          background: url("../src/img/buildings-img-2.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: absolute;
          top: 210px;
          left: 90px;
          width: 460px;
          height: 280px;
          background-color: $blend-color;
          background-blend-mode: luminosity;
          -webkit-box-shadow: 0px 0px 20px 0px rgba(3, 6, 13, 0.2);
          -moz-box-shadow: 0px 0px 20px 0px rgba(3, 6, 13, 0.2);
          box-shadow: 0px 0px 20px 0px rgba(3, 6, 13, 0.2);
        }
      }
      .projects-screen__container-buildings__description {
        background: url("../src/img/rect.svg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 15%;
        padding: 50px;
        .projects-screen__container-buildings__description__headline {
          margin: 0px 0px 40px -10px;
          font-size: $headline-fs;
          line-height: $headline-lh;
          font-weight: 700;
          color: $headline-color;
          text-shadow: rgba($color: $headline-color, $alpha: 0.3) 1px 0 30px;
          span {
            color: $color-accent;
            text-shadow: none;
          }
        }
        .projects-screen__container-buildings__description__paragraph {
          font-size: $paragraph-fs;
          line-height: $paragraph-lh;
          font-weight: 400;
          max-width: 40ch;

          span {
            color: $color-accent;
          }
        }
        .projects-screen__container-buildings__description__cta-button {
          margin: 55px 0px 0px 0px;

          a {
            svg {
            }
          }
        }
      }
    }

    .projects-screen__container-mobapp {
      padding: 0px 40px;
      max-width: 1280px;
      margin: 200px auto 0px auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 60px;
      background: url("../src/img/mobapp-bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      .projects-screen__container-mobapp__images {
        position: relative;
        order: 2;
        .projects-screen__container-mobapp__images__item {
          background-color: white;
          width: 520px;
          height: 360px;
        }

        #mobapp-img-1 {
          background: url("../src/img/mobapp-img-1.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-color: $blend-color;
          background-blend-mode: luminosity;
        }
        #mobapp-img-2 {
          background: url("../src/img/mobapp-img-2.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: absolute;
          top: 210px;
          left: 90px;
          width: 460px;
          height: 280px;
          background-color: $blend-color;
          background-blend-mode: luminosity;
          -webkit-box-shadow: 0px 0px 20px 0px rgba(3, 6, 13, 0.2);
          -moz-box-shadow: 0px 0px 20px 0px rgba(3, 6, 13, 0.2);
          box-shadow: 0px 0px 20px 0px rgba(3, 6, 13, 0.2);
        }
      }
      .projects-screen__container-mobapp__description {
        background: url("../src/img/rect.svg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 15%;
        padding: 50px;
        order: 1;
        .projects-screen__container-mobapp__description__headline {
          margin: 0px 0px 40px -10px;
          font-size: $headline-fs;
          line-height: $headline-lh;
          font-weight: 700;
          color: $headline-color;
          text-shadow: rgba($color: $headline-color, $alpha: 0.3) 1px 0 30px;
          span {
            color: $color-accent;
            text-shadow: none;
          }
        }
        .projects-screen__container-mobapp__description__paragraph {
          font-size: $paragraph-fs;
          line-height: $paragraph-lh;
          font-weight: 400;
          max-width: 40ch;

          span {
            color: $color-accent;
          }
        }
        .projects-screen__container-mobapp__description__cta-button {
          margin: 55px 0px 0px 0px;

          a {
            svg {
            }
          }
        }
      }
    }
  }
  .cv-screen {
    background-color: $basic-color;
    background-image: url("../src/img/cv-screen-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    .cv-screen__container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0px 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      .cv-screen__container__description {
        .cv-screen__container__description__headline {
          font-size: $small-headline-fs;
          line-height: $small-headline-lh;
          font-weight: 700;
          max-width: 700px;

          #cv {
            color: $color-accent;
          }

          #download {
            color: $headline-color;
          }
        }
        .cv-screen__container__description__paragraph {
          font-size: $large-paragraph-fs;
          line-height: $large-paragraph-lh;
          margin: 45px 0px 50px 0px;

          span {
            color: $color-accent;
          }
        }
        .cv-screen__container__description__download {
          a {
            svg {
              width: 80px;
              height: auto;
            }
          }
        }
      }
    }
    .cv-screen__container:before {
      content: "";
      background-image: url("../src/img/cv-rect.svg");
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 400px;
      height: 200px;
      position: absolute;
      top: 160px;
      left: 90px;
    }
  }
  .footer {
    position: relative;
    text-align: center;
    max-width: 1280px;
    margin: 200px auto 0px auto;
    font-size: 14px;
    .footer__author {
    }
    .footer__to-top-btn {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: absolute;
      bottom: 0;
      right: 0;
      writing-mode: vertical-rl;
      transform: scale(-1);
      text-transform: uppercase;
      letter-spacing: 8px;
      font-weight: 700;
      font-size: $paragraph-fs;

      a {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 20px;
        height: 200px;
        position: relative;
        color: white;
        text-decoration: none;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $color-accent;
        }
      }

      :before {
        content: " ";
        width: 2px;
        height: 100px;
        display: block;
        position: absolute;
        top: 140px;
        left: 50%;
        background-color: white;
      }
    }
  }
}

@keyframes crt-me {
  0% {
    clip: rect(0px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(300px, 9999px, 0px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 77px, 0);
  }
  30% {
    clip: rect(0px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  50% {
    clip: rect(330px, 9999px, 0px, 0);
  }
  60% {
    clip: rect(99px, 9999px, 150px, 0);
  }
  70% {
    clip: rect(300px, 9999px, 300px, 0);
  }
  80% {
    clip: rect(98px, 9999px, 300px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(0px, 9999px, 0px, 0);
  }
}
