@import "tmp.scss";

@media (max-width: 1024px) {
  .cta-button {
    svg {
    }
  }
  .cta-button:hover {
  }

  .wrapper {
    .main-screen {
      height: 700px;
      .main-screen__header {
        top: 40px;
        left: 40px;
        right: 40px;
        width: auto;
        .main-screen__header__container {
          .main-screen__header__container__top-logo {
            svg {
            }
          }
          .main-screen__header__container__links {
            .main-screen__header__container__links__top-email {
              a {
                font-size: $paragraph-media-1280-fs;
                i {
                  font-size: 18px;
                }

                &:hover {
                }
              }
            }
            .main-screen__header__container__links__top-phone {
              a {
                font-size: 16px;
                line-height: 1;
                i {
                  font-size: 18px;
                }

                &:hover {
                }
              }
            }
          }
        }
      }

      svg * {
      }
      .main-screen__contacts {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 8%;
        .main-screen__contacts__links {
          order: 2;
          flex-direction: column;
          max-width: 50px;
          flex: 0 0 50px;
          gap: 10px;
          .main-screen__contacts__links__item {
            svg {
            }
          }
          .main-screen__contacts__links__item:hover > svg * {
          }
        }

        .main-screen__contacts__text {
          justify-content: flex-start;
          align-self: center;

          .main-screen__contacts__text__item {
            order: 1;
            max-height: 200px;
            span {
            }
          }
        }
      }

      .main-screen__container {
        max-width: 1024px;
        text-align: center;
        .main-screen__container__description {
          max-width: 800px;
          align-self: center;
          .main-screen__container__description__headline {
            font-size: 42px;

            .main-screen__container__description__headline__text {
              h1 {
                font-size: 80px;
              }

              #portfolio {
              }
            }
            .glitch-window {
            }
          }
          .main-screen__container__description__paragraph {
            align-self: center;
            font-size: $paragraph-media-1280-fs;
            max-width: 500px;
            margin: 20px 0px 0px 0px;

            span {
            }

            .main-screen__container__description__cta-button {
              margin: 40px auto 0px auto;

              svg {
              }
            }
          }
        }
      }
    }
    .main-screen:before {
      left: 15%;
    }
    .main-screen:after {
      width: 15%;
      top: 32%;
      right: 0;
    }
    .projects-screen {
      padding: 100px 0px;

      .projects-screen__container-buildings {
        max-width: 1024px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 160px;
        .projects-screen__container-buildings__images {
          .projects-screen__container-buildings__images__item {
            width: 480px;
            height: 300px;
          }

          #buildings-img-1 {
          }
          #buildings-img-2 {
            top: 170px;
            left: 90px;
            width: 420px;
            height: 240px;
          }
        }
        .projects-screen__container-buildings__description {
          padding: 40px 40px 0px 40px;
          .projects-screen__container-buildings__description__headline {
            margin: 0px 0px 35px 0px;
            font-size: $headline-media-1280-fs;
            line-height: $headline-media-1280-lh;
            span {
            }
          }
          .projects-screen__container-buildings__description__paragraph {
            font-size: $paragraph-media-1280-fs;
            max-width: 40ch;
            margin: 0 auto;

            span {
            }
          }
          .projects-screen__container-buildings__description__cta-button {
            margin: 45px auto 0px auto;

            svg {
            }
          }
        }
      }

      .projects-screen__container-mobapp {
        margin: 100px auto 0px auto;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        max-width: 1024px;
        gap: 160px;
        .projects-screen__container-mobapp__images {
          order: 1;
          .projects-screen__container-mobapp__images__item {
            width: 480px;
            height: 300px;
          }

          #mobapp-img-1 {
          }
          #mobapp-img-2 {
            top: 170px;
            right: 90px;
            width: 420px;
            height: 240px;
          }
        }
        .projects-screen__container-mobapp__description {
          padding: 40px 40px 0px 40px;
          order: 2;
          .projects-screen__container-mobapp__description__headline {
            margin: 0px 0px 35px 0px;
            font-size: $headline-media-1280-fs;
            line-height: $headline-media-1280-lh;
            span {
            }
          }
          .projects-screen__container-mobapp__description__paragraph {
            font-size: $paragraph-media-1280-fs;
            max-width: 40ch;
            margin: 0 auto;

            span {
            }
          }
          .projects-screen__container-mobapp__description__cta-button {
            margin: 45px auto 0px auto;

            svg {
            }
          }
        }
      }
    }
    .cv-screen {
      padding: 80px 40px 100px 40px;
      .cv-screen__container {
        max-width: 1024px;
        .cv-screen__container__description {
          .cv-screen__container__description__headline {
            font-size: $small-headline-fs;
            line-height: $small-headline-lh;

            #cv {
            }

            #download {
            }
          }
          .cv-screen__container__description__paragraph {
            margin: 35px 0px 40px 0px;

            span {
            }
          }
          .cv-screen__container__description__download {
            a {
              svg {
                width: 70px;
                height: auto;
              }
            }
          }
        }
      }
      .cv-screen__container:before {
        display: none;
      }
    }
    .footer {
      max-width: 1024px;
      margin: 100px auto 0px auto;
      font-size: 14px;
      .footer__author {
      }
      .footer__to-top-btn {
        letter-spacing: 4px;
        font-size: $paragraph-media-1280-fs;

        a {
          &:hover {
          }
        }

        :before {
          top: 140px;
          left: 50%;
        }
      }
    }
  }
}
