@import "tmp.scss";
@media (max-width: 768px) {
  .cta-button {
    svg {
    }
  }
  .cta-button:hover {
  }

  .wrapper {
    .main-screen {
      height: auto;
      padding: 120px 20px 50px 20px;
      background-attachment: scroll !important;
      .main-screen__header {
        top: 20px;
        left: 20px;
        right: 20px;
        width: auto;
        .main-screen__header__container {
          .main-screen__header__container__top-logo {
            svg {
            }
          }
          .main-screen__header__container__links {
            .main-screen__header__container__links__top-email {
              a {
                font-size: $paragraph-media-1280-fs;
                i {
                  font-size: 18px;
                }

                &:hover {
                }
              }
            }
            .main-screen__header__container__links__top-phone {
              a {
                font-size: 16px;
                line-height: 1;
                i {
                  font-size: 18px;
                }

                &:hover {
                }
              }
            }
          }
        }
      }

      svg * {
      }
      .main-screen__contacts {
        position: static;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: nowrap;
        width: 200px !important;
        margin: 0 auto !important;
        flex: 0 0 200px;

        .main-screen__contacts__links {
          flex-direction: row !important;
          justify-content: center !important;
          flex-wrap: nowrap;
          align-items: center !important;
          gap: 15px;
          margin: 50px 0px 0px 0px;
          flex: 0 0 200px;
          .main-screen__contacts__links__item {
            flex: 0 0 50px;
            svg {
            }
          }
          .main-screen__contacts__links__item:hover > svg * {
          }
        }

        .main-screen__contacts__text {
          display: none;

          .main-screen__contacts__text__item {
            span {
            }
          }
        }
      }

      .main-screen__container {
        text-align: center;
        max-width: 768px;
        padding: 0px;
        .main-screen__container__description {
          max-width: 800px;
          padding: 0px;
          align-self: center;
          .main-screen__container__description__headline {
            font-size: 42px;

            .main-screen__container__description__headline__text {
              h1 {
                font-size: 42px;
              }

              #portfolio {
              }
            }
            .glitch-window {
            }
          }
          .main-screen__container__description__paragraph {
            align-self: center;
            font-size: $paragraph-media-1280-fs;
            max-width: 600px;
            margin: 20px 0px 0px 0px;

            span {
            }

            .main-screen__container__description__cta-button {
              margin: 40px auto 0px auto;

              svg {
              }
            }
          }
        }
      }
    }
    .main-screen:before {
      display: none;
    }
    .main-screen:after {
      display: none;
    }
    .projects-screen {
      padding: 55px 0px;

      .projects-screen__container-buildings {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        max-width: 768px;
        gap: 100px;
        padding: 0px 20px;
        .projects-screen__container-buildings__images {
          display: none;
          .projects-screen__container-buildings__images__item {
          }

          #buildings-img-1 {
          }
          #buildings-img-2 {
          }
        }
        .projects-screen__container-buildings__images-mob {
          display: flex;
          .projects-screen__container-buildings__images-mob__item {
            width: 280px;
            height: 160px;
          }

          #buildings-img-1-mob {
          }
          #buildings-img-2-mob {
            top: 110px;
            left: 60px;
            width: 240px;
            height: 140px;
          }
        }
        .projects-screen__container-buildings__description {
          background: none;
          padding: 40px 20px 0px 20px;
          .projects-screen__container-buildings__description__headline {
            margin: 0px 0px 35px 0px;
            font-size: $headline-media-768-fs;
            line-height: $headline-media-768-lh;
            span {
            }
          }
          .projects-screen__container-buildings__description__paragraph {
            font-size: $paragraph-media-1280-fs;
            max-width: 40ch;
            margin: 0 auto;

            span {
            }
          }
          .projects-screen__container-buildings__description__cta-button {
            margin: 45px auto 0px auto;

            svg {
            }
          }
        }
      }

      .projects-screen__container-mobapp {
        margin: 55px auto 0px auto;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        max-width: 768px;
        gap: 100px;
        padding: 0px 20px;
        .projects-screen__container-mobapp__images {
          display: none;
          .projects-screen__container-mobapp__images__item {
          }

          #mobapp-img-1 {
          }
          #mobapp-img-2 {
          }
        }
        .projects-screen__container-mobapp__images-mob {
          display: flex;
          order: 1;
          .projects-screen__container-mobapp__images-mob__item {
            width: 280px;
            height: 160px;
          }

          #mobapp-img-1-mob {
          }
          #mobapp-img-2-mob {
            top: 110px;
            right: 60px;
            width: 240px;
            height: 140px;
          }
        }
        .projects-screen__container-mobapp__description {
          background: none;
          padding: 40px 20px 0px 20px;
          order: 2;
          .projects-screen__container-mobapp__description__headline {
            margin: 0px 0px 35px 0px;
            font-size: $headline-media-768-fs;
            line-height: $headline-media-768-lh;
            span {
            }
          }
          .projects-screen__container-mobapp__description__paragraph {
            font-size: $paragraph-media-1280-fs;
            max-width: 40ch;
            margin: 0 auto;

            span {
            }
          }
          .projects-screen__container-mobapp__description__cta-button {
            margin: 45px auto 0px auto;

            svg {
            }
          }
        }
      }
    }
    .cv-screen {
      padding: 45px 20px 55px 20px;
      .cv-screen__container {
        max-width: 768px;
        padding: 0px 20px;
        .cv-screen__container__description {
          .cv-screen__container__description__headline {
            font-size: $small-headline-media-768-fs;
            line-height: $small-headline-media-768-lh;
            max-width: 400px;
            margin: 0 auto;

            #cv {
            }

            #download {
            }
          }
          .cv-screen__container__description__paragraph {
            margin: 35px 0px 40px 0px;
            font-size: $paragraph-media-1280-fs;

            span {
            }
          }
          .cv-screen__container__description__download {
            a {
              svg {
                width: 70px;
                height: auto;
              }
            }
          }
        }
      }
      .cv-screen__container:before {
        display: none;
      }
    }
    .footer {
      max-width: 768px;
      margin: 55px auto 0px auto;
      font-size: 14px;
      .footer__author {
      }
      .footer__to-top-btn {
        letter-spacing: 4px;
        font-size: $paragraph-media-1280-fs;
        bottom: 4px;

        a {
          &:hover {
          }
        }

        :before {
          display: none;
        }
      }
    }
  }
}
