$basic-color: #03060d;
$blend-color: #232836;
$color-accent: #ff6a2f;
$headline-color: #e4d5b7;
$headline-fs: 100px;
$headline-lh: 100px;
$small-headline-fs: 56px;
$small-headline-lh: 74px;
$large-paragraph-fs: 26px;
$large-paragraph-lh: 32px;
$paragraph-fs: 16px;
$paragraph-lh: 28px;

$paragraph-media-1280-fs: 14px;
$headline-media-1280-fs: 72px;
$headline-media-1280-lh: 72px;
$headline-media-768-fs: 36px;
$headline-media-768-lh: 36px;
$small-headline-media-768-fs: 36px;
$small-headline-media-768-lh: 46px;

$small-headline-media-320-fs: 24px;
$small-headline-media-320-lh: 32px;
